@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --minor: 0 0% 15%;
    --background-gradient: linear-gradient(
      90deg,
      rgb(240, 240, 240) 100%,
      rgb(253, 245, 255) 100%
    );
  }

  .light {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 98%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 90%;
    --muted-foreground: 240 5% 10%;
    --accent: 282 100% 50%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 85.9%;
    --input: 240 3.7% 85.9%;
    --ring: 282 100% 50%;
    --minor: 0 0% 30%;
    --background-gradient: linear-gradient(
      90deg,
      rgb(240, 240, 240) 100%,
      rgb(252, 240, 255) 100%
    );
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background: var(--background-gradient);
    @apply text-foreground;
  }
  .sidebar {
    width: var(--sidebar-width);
  }
  .page-content {
    width: 100%;
    @media (min-width: 1280px) {
      max-width: 1440px;
      padding-left: 24px;
      padding-right: 24px;
      scroll-behavior: smooth;
    }
  }
}
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: disc;
  text-align: left;
  margin-left: 20px;
}

.filterHighlight {
  filter: drop-shadow(
    0 0 5px rgba(138, 43, 226, 0.4)
  ) !important;
}
.buttonLub {
  border: 2px solid rgba(138, 43, 226, 0.4);
  border-radius: 0.3rem;
  padding: 1rem 0.5rem 1rem 0.5rem;
  background-color: transparent;
  text-decoration: none;
}
@layer components {
  .header {
    z-index: 99;
  }
  .bg-color-1 {
    background-color: #f0f0f0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Difumina el borde */
  }
  .spectrum-background {
    width: 500px;
    height: 1000px;
    background: linear-gradient(
        150deg,
        #ecedee,
        transparent 30%
      ),
      linear-gradient(
        330deg,
        rgb(210, 206, 242),
        transparent 30%
      ),
      linear-gradient(225deg, #fff0f0, #fce8ef, #fcf8ff);
  }
}

.buttonLub {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid rgba(138, 43, 226, 1);
  background: rgba(138, 43, 226, 1);
}
.buttonLub:hover {
  background: #fff;
  color: rgba(138, 43, 226, 1);
}
